@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  background: linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}