@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  background: linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input:focus {
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #996DFF, #C7AFFF);
  border-image-slice: 1;
  box-sizing: border-box;
  border-radius: 0.375rem !important;
}